/* =============================================================
   SUMMARIZE PAGE STYLES
   ============================================================= */

.card-perc {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 20px;
}

.sub-title-sm {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.percentage-container {
  display: flex;
  gap: 20px;
}

.perc-card {
  flex: 1;
  min-height: 140px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.perc-card.white {
  background: #fff;
  color: #000;
}

.perc-card.maroon {
  background: #630000;
  color: #fff;
}

.perc-card p {
  font-size: 21px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
}

.perc-card h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
}

/* summarize section */
.summarize {
    padding-top: 50px;
}

/* Teks Summarize */
.sm-item {
  margin-bottom: 20px;
}

.sm-item h4 {
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.sm-item p {
  font-size: 0.8rem;
  color: #444;
  line-height: 1.6;
  text-align: justify;
  font-family: "Inter", sans-serif !important;
}
  
/* Comment Cards List */
.comment-card {
    display: block;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar-sm {
  width: 28px;
  height: 28px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.user-name {
  font-size: 0.85rem;
  font-weight: 800;
}

.rating {
  font-size: 0.8rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  color: #ff0000;
  font-size: 1.1rem;
}

.comment-text {
  font-size: 0.75rem;
  color: #333;
  line-height: 1.5;
}
